* {
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
}

header {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(2, 0, 36, 1)0%, rgb(50, 50, 51, 1)35%, rgb(0, 212, 255, 1)100%);
    background: linear-gradient(to right, #040404, #242424, #656565);
    color: white;
}

.layout {
    width: 80%;
    margin: 0 auto;
}

.content {
    height: 100vh;
    position: relative;
}

.flex {
    display: flex;
    flex-direction: row;
}

.space_between {
    justify-content: space-between;
}

.space_between {
    justify-content: space-between;
}

.align_center {
    align-items: center;
}

.justify_content {
    justify-content: center;
}

.header .logo {
    font-weight: 700;
    letter-spacing: 2px;
    padding-top: 15px;
    font-size: 20px;
    cursor: pointer;
}

.nav_links {
    padding-top: 20px;
}

.header li {
    list-style: none;
    padding: 5px 13px;
    margin: 10px;
}

.header a {
    color: rgb(246, 248, 116);
    text-decoration: none;
}

.btn {
    margin-top: 20px;
    padding: 5px 10px;
    background-color: red;
    columns: black;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 4px white;
}

span {
    color: red;
}

.header li:hover {
    box-shadow: 0 0 4px white;
    background-color: grey;
    transform: scale(1.1);
}

.left {
    line-height: 30px;
    letter-spacing: 2px;
    align-items: first baseline;
}

img {
    height: 380px;
    width: 300px;
    position: relative;
    z-index: 999;
    cursor: pointer;
    background-color: #242424;
    border-radius: 50%;
    right: 42px;
}

.right {
    justify-content: flex-start;
}

.color_box {
    width: 370px;
    height: 370px;
    border: 3px solid rgb(255, 0, 0);
    transform: rotate(45deg);
    position: absolute;
    top: 180px;
    right: 5px;
}

img:hover {
    box-shadow: 0 0 4px white;
    transform: scale(1.1);
}

.color_box:hover {
    box-shadow: 2px 2px 4px gray;
}